@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


div .elementor-button-text {
  position: relative;
  top: 8px;
  width: 3px;
  min-height: 11px;
  display: block;
  background: white;
  border-radius: 5px;
  -webkit-animation: 1.2s ease infinite wheel-up-down;
  animation: 1.2s ease infinite wheel-up-down;
}
div .elementor-button-icon{
  display: none;
}
div a:focus{
  outline: none;
}
@-webkit-keyframes wheel-up-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
}
@keyframes wheel-up-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
}


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(214, 214, 214), rgb(212, 212, 212))
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%
}

.bouncing-arrow {
  animation: slide1 1s ease-in-out infinite;
}


@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

.map-container iframe {
  border-radius: 25px;
}

@media screen and (max-width: 900px) {
  .map-container iframe {
    border-radius: 15px;
    max-height: 300px;
  }
}